## Modified from https://github.com/github/gitignore/blob/main/Dotnet.gitignore

# Builds and Tests
bin/
obj/
CodeCoverage/
TestResult*/

# NuGet Packages
*.nupkg
*.snupkg

# Visual Studio
.vs/
*.user

# Others
Tests/BangumiNet.Archive.Test/.archives/
p1.yaml
v0.yaml
