## Modified from https://github.com/github/gitignore/blob/main/Dotnet.gitignore

# Builds
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
*.snupkg

# Others
~$*
*~
CodeCoverage/

# Visual Studio
.vs/
*.user

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

Tests/BangumiNet.Archive.Test/.archives/
